<%inherit file="base.htm" />

<%block name="meta">
  <meta http-equiv="refresh" content="5"/>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</%block>

<%block name="content">
    <div class="content">
      <div class="col-xs-4">
        <ul>
          <h1>Ward Totals</h1>
          <li>
            Names:
          </li>
          <li class="num">
            ${ names }
          </li>
          <li>
            Ordinances:
          </li>
          <li class="num">
            ${ ordinances }
          </li>
        </ul>
        <h2 class="text-center">
          When we gather our family histories
          and go to the temple on behalf of our
          ancestors, God fulfills promised blessings
          simultaneously on both sides of the veil.
        </h2>
        <h3 class="text-right">
          - Elder Dale G. Renlund
        </h3>
      </div>
      <div class="col-xs-8">
        <a href="/homepage/rafflestart">
          <img src="https://photos.smugmug.com/Temples/Organized-by-Temple/Provo-City-Center-LDS-Temple/i-3ML4932/0/44fd14f2/X2/Provo%20City%20Center%20Temple%20-%20Springtime%20Family_SJ07039-X2.jpg" />
        </a>
      </div>
    </div>

</%block>
